body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

canvas {
  border: 1px solid black;
}

#score {
  font-size: 6rem;
  font-family: "Fondamento", cursive;
  color: #202020;
  text-shadow: 2px 2px #aaa;
  margin-bottom: 20px;
}

#replayButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border: 2px solid #202020;
  color: #202020;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular shape */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: none;
}

#replayButton img {
  width: 24px;
  height: 24px;
}

#replayButton:hover:enabled {
  transform: scale(1.1);
}

#level {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 2px solid #202020;
  color: #202020;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular shape */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Nunito Sans", sans-serif;
  transition: transform 0.2s ease-in-out;
}

#level:hover {
  transform: scale(1.1); /* Slight zoom effect for interactivity */
}

footer {
  font-size: 14px;
  text-align: center;
  color: #555;
  padding: 10px;
  margin-top: 40px;
  background-color: #f4f4f4;
  a {
    text-decoration: none;
    color: inherit;
  }
}

footer p {
  margin: 0;
}
